---
import BaseLayout from "../../layouts/base.astro"
---

<BaseLayout title = "Record Analysis">
        <main class="site__content">
        <nav class="navlist">
            <ul class="navlist__link-container">
                <li class="navlist__link"><a href="/music/world's end girlfriend/LAST WALTZ/LAST BLINK">world's end girlfriend - LAST BLINK</a></li>
            </ul>
        </nav>
    </main>
    <footer>
        <hr>
    </footer>
</BaseLayout>
