---
import BaseLayout from "../../layouts/base.astro";
---

<BaseLayout title="Record Analysis">
    <nav class="navlist">
        <ul class="navlist__link-container">
            <li class="navlist__link">
                <a href="/music/world's end girlfriend/LAST WALTZ/LAST BLINK"
                    >world's end girlfriend - LAST BLINK</a
                >
            </li>
        </ul>
    </nav>
    <hr />
    <p>
        if you're looking for my stuff, you'll find it <a
            href="https://manynamedangel.bandcamp.com">here</a
        >!
    </p>
</BaseLayout>
