:root {
    --clr-ice-base: #0d1212;
    --clr-ice-deep: #0048ca;
    --clr-ice-bright: #43c0d4;
    --clr-ice-light: #9bdae4;
    --clr-star-base: #15121a;
    --clr-star-deep: #5827a9;
    --clr-star-bright: #a383d8;
    --clr-star-light: #c6aaf3;
    --clr-mint-base: #161916;
    --clr-mint-deep: #00c264;
    --clr-mint-bright: #3cce9b;
    --clr-mint-light: #8dd6bc;
    --clr-rose-base: #24191d;
    --clr-rose-deep: #e2003a;
    --clr-rose-bright: #ce3c6f;
    --clr-rose-light: #ff7799;
    --clr-steel-base: #222034;
    --clr-steel-deep: #595652;
    --clr-steel-bright: #d5d5d5;
    --clr-steel-light: #e5fffe;
}