@import "colors.css";

:root {
    --clr-background: var(--clr-rose-base);
    --clr-text: var(--clr-steel-light);
    --clr-subtext: var(--clr-steel-deep);
    --clr-link: var(--clr-mint-bright);
    --clr-link-highlight: var(--clr-mint-light);
}