---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout title="Identity Examination">
    <main class="site__content">
        <h1>witness me</h1>
        <p>i am a plural system, five people wrapped in one</p>
        <nav class="navlist">
            <ul class="navlist__link-container">
                <li class="navlist__link">Lizzy</li>
                <li class="navlist__link">Nova</li>
                <li class="navlist__link">Robin</li>
                <li class="navlist__link">Lucy</li>
                <li class="navlist__link">Jay</li>
            </ul>
        </nav>
        <p><subtext>they'll get pages later</subtext></p>
        <p>
            collectively, we are, and i am, the Many-Named Angel, not a name,
            rather an epithet
        </p>
        <p>
            if you speak to me, you are speaking to likely one or two of the
            people above, or possibly to our shadows, but they're more shy :p
        </p>
        <p>
            but we prefer the collective identity most of the time! it's
            comfortable :3
        </p>
        <p>
            genderwise, she/her and it/its pronouns. enough of me is a woman
            that you can call me one! extremely nonbinary though
        </p>
        <p>
            if you want to befriend me, tell me about the interesting things
            you've been up to, or ask about the interesting things i've been up
            to
        </p>
        <p>my favorite programming languages are rust and kotlin</p>
        <p>
            talk to me about linguistics, esoteric spirituality, mathematics,
            witchcraft, or music composition
        </p>
        <p>
            i've been composing music since 2017 and really enjoy talking about
            it
        </p>
        <p>
            i am fluent in english, i know some latin and toki pona, i know a
            little of french, german, and spanish. i am an aspiring polyglot and
            a recovering anglophone
        </p>
        <img
            sizes="(width <= 60px) 100px, 10vw"
            src="/assets/images/manynamedangel.png"
            alt="a black inhuman yet humanoid figure with white hair, a bright white outline, and very weird hole-like glowing eyes"
        />
        <br />
        <subtext
            >drawn by <a href="https://ko-fi.com/lukyancloud">Lukyan Cloud</a
            ></subtext
        >
        <p>wow look at my sona isn't it awesome</p>
    </main>
</BaseLayout>
