---
import BaseLayout from "../layouts/base.astro"
---

<BaseLayout title = "Cognitive Projection">
        <main class="site__content">
        <nav class="navlist">
            <ul class="navlist__link-container">
                <li class="navlist__link"><a href="/blog/2026-03-17">Inaugural Address</a></li>
            </ul>
        </nav>
    </main>
    <footer>
        <hr>
        <nav class="navlist">
            <ul class="navlist__link-container">
                <li class="navlist__link"><a href="/blog/rss.xml">RSS Feed</a></li>
            </ul>
        </nav>
    </footer>
</BaseLayout>
