---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout title="Heavensent Mystery">
    <p>
        The Many-Named Angel is an artifact of conscious perception upon an
        unknowable universe, presently bound within a quintuplet identity matrix
        within a human body.
    </p>
    <p>
        The current incarnation of it formed sometime in the early 21st century
        within a region of the United States sometimes known as Minnesota.
    </p>
    <p>
        It has a tendency to produce <a
            href="https://manynamedangel.bandcamp.com/album/signals-electric-and-divine"
            >interesting sounds</a
        >, or to harness lightning to <a
            href="https://github.com/null-version-nova/aoc25"
            >enable metal to think</a
        >.
    </p>
    <hr />
    <nav class="navlist">
        <ul class="navlist__link-container">
            <li class="navlist__link">
                <a href="https://github.com/null-version-nova">github</a>
            </li>
            <li class="navlist__link">
                <a href="https://manynamedangel.bandcamp.com">bandcamp</a>
            </li>
            <li class="navlist__link">
                <a href="https://www.tumblr.com/manynamedangel">tumblr</a>
            </li>
            <li class="navlist__link">
                <a href="https://discord.gg/hghUekrPqR"
                    >queer coded discord server</a
                >
            </li>
        </ul>
    </nav>
    <hr />
    <p>here are some buttons, including my own :></p>
    <a target="_blank" href="https://null-version-nova.github.io/"
        ><img
            src="https://null-version-nova.github.io/buttons/manynamedangel.gif"
            alt="null-version-nova.github.io"
        /></a
    >
    <a target="_blank" href="https://wishvolo.nekoweb.org/"
        ><img
            src="https://wishvolo.nekoweb.org/wv88x31.png"
            alt="wishvolo.nekoweb.org"
        /></a
    >
    <a href="https://nayz.neocities.org/button/"
        ><img
            src="https://nayz.neocities.org/assets/buttons/soundsmush.png"
            alt="nayz.neocities.org/button"
        /></a
    >
    <a target="_blank" href="https://robyn.nekoweb.org"
        ><img
            src="https://robyn.nekoweb.org/starrebutton.gif"
            alt="robyn.nekoweb.org"
        /></a
    >
    <a href="https://ddxdotexe.com"
        ><img
            src="https://ddxdotexe.com/DDXStamp.png"
            id="DDXStamp"
            alt="A low poly 3D render of the character of DDX.EXE, leaning back and sort of floating"
        /></a
    >
    <a href="https://pestos.cafe/"
        ><img src="/buttons/prestopesto.png" alt="pestos.cafe" /></a
    >
    <a href="https://elke.cafe/"
        ><img
            src="https://elke.cafe/assets/images/buttons/elke.cafe.gif"
            alt="A small button that reads 'elke.cafe', with a broken triquetra along the left side, a thin blue along the top and bottom, and a scratchy dark blue background"
        /></a
    >
    <a href="https://missnightsky.bandcamp.com/"
        ><img
            src="/buttons/missnightsky.png"
            alt="missnightsky.bandcamp.com"
        /></a
    >
    <a href="https://queercoded.dev/"
        ><img src="/buttons/queercoded.gif" alt="queercoded.dev" /></a
    >
    <a href="https://catbot-beeps.neocities.org"
        ><img
            src="https://catbot-beeps.neocities.org/images/icons/button.png"
            alt="catbot-beeps.neocities.org"
        /></a
    >
    <p>feel free to let me know if you have a button you want me to add!</p>
    <p>i also have some friends without buttons too</p>
    <nav class="navlist">
        <ul class="navlist__link-container">
            <li class="navlist__link">
                <a href="https://cr1ttr.github.io/">cr1ttr</a>
            </li>
        </ul>
    </nav>
    <hr />
    <footer>
        <div class="container space-around">
            <div>
                <a
                    href="https://webring.queercoded.dev/prev?source=null-version-nova.github.io"
                >
                    previous
                </a>
            </div>
            <div>Queer Coded Webring</div>
            <div>
                <a
                    href="https://webring.queercoded.dev/next?source=null-version-nova.github.io"
                >
                    next
                </a>
            </div>
        </div>
        <link
            rel="stylesheet"
            href="https://nayz.neocities.org/onionring/onionring.css"
        />
        <style>
            #rosefield a {
                color: #ca1b1b;
            }
            #rosefield .webring-next a {
                color: #ffffff;
            }
        </style>
        <div id="rosefield" style="color:#000000; font-size:12px;padding:16px;">
            <script
                type="text/javascript"
                src="https://nayz.neocities.org/onionring/onionring-variables.js"
            ></script>
            <script
                type="text/javascript"
                src="https://nayz.neocities.org/onionring/onionring-widget.js"
            ></script>
        </div>
    </footer>
</BaseLayout>
