@import "../colorschemes/cosmos.css";
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

body {
    background-color: var(--clr-background);
    color: var(--clr-text);
    font-family: 'Fira Mono', monospace;
    max-width: 1060px;
    margin-inline: auto;
    padding: 2em
}

h1 {
    text-align: center;
}

hr {
    color: var(--clr-subtext);
}

a {
    color: var(--clr-link);
}

a:hover {
    color: var(--clr-link-highlight);
}

code {
    font-family: 'Fira Code', monospace;
}

.navlist__link-container {
    list-style: none;
}

i .navbar__link {
    padding: 0 10px;
}

.navbar__link-container {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    gap: 1.1rem;
}

.navbar__spread {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    gap: 1.1rem;
}

.navlist__link-container {
    margin-left: 20px;
}

.navlist__link {
    list-style: "> ";
}