---
import Music from "../../../../layouts/music.astro";
---

<Music title="world's end girlfriend - LAST WALTZ: 10. LAST BLINK">
    <p><subtext>well i'd love to actually embed the damn song but welp i can't find anywhere that'll do that. the bandcamp page won't even play it!</subtext></p>
    <strong>0:00</strong>
    <p>a clock ticks</p>
    <strong>0:03</strong>
    <p>a music box swells</p>
    <p>a pattern, held, repeating</p>
    <p>anticipating, accepting</p>
    <strong>0:12</strong>
    <p>the clock ticks again, and does not stop</p>
    <p>the music box begins its piece after its warmup, this will be our melody for the remainder of the song</p>
    <p>the song is hauntingly beautiful. this may be where i started to cry the second time i listened to this song.</p>
    <p>3/4 time, that of a waltz; A Ionian, major key</p>
    <strong>0:36</strong>
    <p>and enter left, our main character. some sort of glassy synth, with the quality of nails on chalkboard</p>
    <p>it's quite polite to begin with, easing itself into the melody</p>
    <strong>0:51</strong>
    <p>and then it starts scratching</p>
    <strong>1:00</strong>
    <p>as the violas enter, it should be obvious now that this is a song about death.</p>
    <p>but as i listened to it, i was fascinated by how effectively and how swiftly this song, without context, reduced me to tears.</p>
    <p>but a clue lies in the strings, wherein these peaceful notes would normally contrast the noisy synth</p>
    <strong>1:25</strong>
    <p>they instead harmonize with eachother</p>
    <p>this is where i started to cry the first time i listened to this song</p>
    <strong>1:49</strong>
    <p>the strings exit, leaving the noise and the music box, the clock is still ticking</p>
    <strong>2:01</strong>
    <p>yet even as the noise evolves, it barely even notices the absence of the violins</p>
    <strong>2:13</strong>
    <p>a cello arrives, providing a mature emotional foundation to the otherwise esoteric sound</p>
    <p>the song stubbornly refuses to acknowledge its own dissonance</p>
    <p>wherein it says its piece</p>
    <strong>2:43</strong>
    <p>that perhaps there is no dissonance after all</p>
    <p>the noise grows bolder at this point. it was so gentle to begin with, far from how it is now</p>
    <p>death is inseperable from life, they swirl around eachother, bring about eachother, breathe through eachother</p>
    <p>the noise is not reviled by the song, it's just another piece</p>
    <p>it is inseperable from the rest</p>
    <p>you have to accept it as a part of the song</p>
    <strong>3:02</strong>
    <p>but it takes a pause for a moment, as violas enter again</p>
    <p>to die means that you lived</p>
    <p>to be mourned means that you were loved</p>
    <strong>3:26</strong>
    <p>the music box stops. it won't ever start again</p>
    <p>the strings do not last much longer</p>
    <strong>3:50</strong>
    <p>and all that is left is the clock</p>
    <p>even the noise is gone now</p>
    <strong>4:00</strong>
    <p>death is still my greatest fear</p>
    <strong>4:10</strong>
    <p>that's probably why my face is covered in tears by this point</p>
    <strong>4:14</strong>
    <p>but not even time itself can last forever, and the ticking stops</p>
    <strong>4:20</strong>
    <p>memento mori</p>
</Music>