---
const { title } = Astro.props;
import Navbar from "../components/navbar.astro";
import NAVBAR_LINKS from "../data/navbar_links";
import "../styles/main.css";
---

<html lang="en">
    <head>
        <title>{title}</title>
        <link rel="stylesheet" href="../styles/main.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href={"/favicon.ico"} />
    </head>
    <body>
        <Navbar links={NAVBAR_LINKS} />

        <hr />
        <slot />
        <!-- your content is injected here -->
    </body>
</html>
