---
const { title } = Astro.props;
import "../styles/main.css"
---
<html lang="en">
<head>
    <title>{title}</title>
        <link rel="stylesheet" href="../styles/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href={"/favicon.ico"}>
    </head>
    <body>
        <nav class="navbar">
        <ul class="navbar__link-container navbar__link-container--no-style">
            <li class="navbar__link"><a href="/">home</a></li>
            <li class="navbar__link"><a href="/blog">blog</a></li>
        </ul>
        </nav>
        <hr>
      <slot /> <!-- your content is injected here -->
  </body>
</html>